body {
	margin:0 auto;
	padding:0px;
	font-family:"Avenir", sans-serif;
	font-size:100%;
	background-color:#eeeeed;

}

a {
	color: #f5f5f5;
	text-decoration:none;
}

#container{
	width:1200px;
	height:100%;
	margin:0 auto;

}

/*top bar--------------------------------*/ 

#top_bar{
	background-image:url('../images/logo.png');
	background-repeat:no-repeat;
	background-position:10px 10px;
	margin-top:-1px;
	padding:0px;
	min-width:1200px;
	height: 60px;
	background-color:#2b2a27;
	border-bottom:4px solid #0593d0;
	overflow:auto;


}

.logo{
	float:left;
	width:300px;
	height:100%;
	cursor:pointer;
}


#form, .user_bar{
	margin-right:15px;
	padding-top:17px;
	float:right;

	
}
#user{
	padding-top:13px;

}
#form p{
	margin:0;
	padding-top:5px;
	padding-left:139px;
	font-size:55%;
	color:#fff;

}

#form p > a:hover{
	color:#0593d0;
}

#user a:hover{
	color:#0593d0;
}
.user_bar p {
	color:#fff;
	font-size:75%;
	padding-right:10px;
	margin-top:0px;

}

#username{
	font-size:120%;
	color:#feecb3;
	padding-right:30px;
	padding-left:10px;
	
}

.userlevel_display {
	font-size:60%;
	font-weight:200;	
	color:#fff;
	letter-spacing:1px;
	
}
.logIn{
	outline:none;
	width:112px;
	height:20px;
	border-radius:1em 1em 1em 1em;
	margin-right:7px;	
	border:none;
	padding-left:5px;
	
}

.logIn_topbar_btn{
	cursor:pointer;
	width:50px;
	height:20px;
	border-radius:1em 1em 1em 1em;
	background-color:#0593d0;
	border:none;
}

/*nav --------------------------------*/ 

#nav {
	margin-top:130px;
	width:200px;
	height:100%;
	background-color:#2b2a27;
	float:left;
	clear:both;

	
}

/*content--------------------------------*/

.tagLine{
	font-size:75%;
	font-weight:100;
	padding:0px 0px 0px 15px;
	margin-top:8px;
	color:#57554f;
	float:left;
}



#main_dashboard{
	background-image:url('../images/medium_logo.png');
	background-repeat:no-repeat;
	background-position:47% top;
	margin: 0 auto;
	min-height:500px;
	width:900px;
	padding-top:10px;


}

#main_dashboard h3{
	margin-top:10px;
}

#main_dashboard h1{
	text-align:center;	
	margin-top:50px;
	letter-spacing:1px;
	
}

#dashboard_fortune_img{
	width:230px;
	height:107px;
	background-image:url('../images/dashboard_fortune.png');
	background-repeat:no-repeat;
	margin-left: 475px;
    margin-top: -52px;
		
}
#fortune_img{
	width:238px;
	height:100px;
	background-image:url('../images/fortune.png');
	background-repeat:no-repeat;
    margin-left: 469px;
    margin-top: -59px;
	
}

#create_fortune_content{
	margin:0 auto;
	text-align:center;
	padding-top:10px;
	width:800px;
	min-height:400px;
	
}
#dashboard_content{
	margin:0 auto;
	margin-left:30px;
	padding-top:15px;
	width:1000px;
	min-height:300px;
	padding-left:35px;
	padding-bottom:50px;

}

#call_to_action{
	text-align:center;
}

#call_to_action, .span10{

}
#call_to_action h5{
 	font-size: 135%;
    font-weight: 400;
    margin-bottom: 9px;
    
}
#call_to_action h2,h3,h4{
	margin-bottom:9px;
	margin-top:9px;
}

#stats h3{
	font-size:90%;
	margin-bottom:50px;
	padding-bottom:5px;
	border-bottom:1px dashed #0593d0;
	
}

#action{
	margin:0 auto;

}


.my_row{
	min-width:900px;

}
/*twitter bootstrap--------------------------------*/
.row>.offset1{margin-left:80px;}
.row>.offset2{margin-left:140px;}
.row>.offset3{margin-left:200px;}
.row>.offset4{margin-left:260px;}
.row>.offset5{margin-left:320px;}
.row>.offset6{margin-left:380px;}
.row>.offset7{margin-left:440px;}
.row>.offset8{margin-left:500px;}
.row>.offset9{margin-left:560px;}
.row>.offset10{margin-left:620px;}
.row>.offset11{margin-left:680px;}

.row{margin-left:-20px;}.row:before,.row:after{display:table;content:"";}
.row:after{clear:both;}
.row>[class*="span"]{display:inline;float:left;margin-left:20px;}
.span1{width:40px;}
.span2{width:100px;}
.span3{width:160px;}
.span4{width:220px;
		min-height:300px;
		padding-right:20px;
		padding-left: 35px;
		line-height:150%;
		border-right:2px dashed #fff ;	
	}

.span5{width:280px;
		min-height:300px;
		padding-left:35px;
		line-height:150%;
		}

.span6{width:340px;}
.span7{width:400px;}
.span8{width:460px;}
.span9{width:520px;}
.span10{width:580px;}
.span11{width:640px;
	}
.span11 h5{
	color:#4d4d4d;
}


/*create fortune*/

#created_fortune_pending {
	border-radius:10px;
	padding:10px;
	border:2px dashed white;
	color:#0593d0;
}

#fortune_enter{
	text-align:left;
	border-radius:5px;
	border:1px dashed #2b2a27;
}
.create_fortune_field{	
	margin-top:30px;
	padding-bottom:200px;	
}
.create_fortune_field h1{
	letter-spacing:2px;
}
textarea{
	text-align:left;
	margin-bottom:30px;
}
.create_fortune_btn{
	border-radius:15px;
	border:none;
	background-color:#2b2a27;
	font-size:100%;
	width:150px;
	height:25px;
	cursor:pointer;
}
.create_fortune_btn a{
		color:#feecb3;
}
.create_fortune_btn:hover{
	background-color:#0593d0;
}

/*specialty styles--------------------------------*/

.blue{
	color:#0593d0;
}
.emphasis{
	font-style:italic;
}

.white{
	color:#fff;	
}
.thin{
	font-weight:400;
}

.small{
	font-size:50%;
}
.yellow{
	color:#feebae;
}
.signature{
	margin-top:-15px;
}
/*modal--------------------------------*/


.modalSignUp{
		background-image:url('../images/twitter_small.png');
		background-position:left center;
		background-repeat:no-repeat;
		background-color:#0593d0;
	    border:none;
	    border-radius: 10px;
	    color: white;
	    cursor: pointer;
	    font-size: 110%;
	    height:40px;
	    letter-spacing: 1px;
		text-align:right;
	    width: 137px;
}
/*modal buttons--------------------------------*/

#sign_up:hover {
	text-shadow:1px 1px #2b2a27;
	background-color:#fff;
/*	border: 1px dashed #0593d0;*/
}

#log_in:hover{
/*	border: 1px dashed #0593d0;*/
	text-shadow:1px 1px #2b2a27;
	background-color:#fff;
}

#log_in{
	float:right;
	margin-right:260px;
	margin-top:10px;
	/*padding-right: 10px;*/
}

#sign_up{
	float:left;
	margin-left:150px;
	margin-top:10px;
}

/*live feed--------------------------------*/

#feed{
	margin-top:50px;
}
#feed_banner{
	width:340px;
	height:400px;
	background-image:url('../images/fortune_feed.png');
	background-repeat:no-repeat;
	background-position:0 -10px;
	float:left;
}
#sm_feed_banner{
	margin-top:20px;
	margin-left:-4px;
	width:286px;
	height:122px;
	background-image:url('../images/small_fortune_feed.png');
	background-repeat:no-repeat;
	background-position:0 0px;
	float:left;
}
#sm_live_feed{
	margin-top:30px;
	font-size:75%;
	min-width:350px;
	max-width:450px;
	min-height:300px;
	margin-left:360px;
	padding-top:0px;
	margin-bottom:200px;
	padding-bottom:50px;
	font-family:"Garamond", serif;
	border-bottom:2px solid #0593d0	
}
#sm_feed_banner p{
	color:white;
	font-size:60%;
	font-style:italic;
	margin-left:20px;
	margin-top:15px;	
}
#sm_feed_banner h1{
	font-size:180%;
	font-weight:100;
	letter-spacing:2px;
	margin-left:14px;
	margin-top:20px;	
}
#feed_banner p{
	color:white;
	font-size:80%;
	font-style:italic;
	margin-left:20px;
	margin-top:10px;	
}
#feed_banner h1{
	font-weight:100;
	letter-spacing:3px;
	margin-left:17px;
	margin-top:25px;	
}
#live_feed{	
	min-width:500px;
	max-width:500px;
	min-height:500px;
	margin-left:400px;
    margin-bottom:200px;
	padding-bottom:50px;
	font-family:"Garamond", serif;
	border-bottom:2px solid #0593d0;
}

#live_feed ul{
	list-style:none;
}

#sm_live_feed ul{
		list-style:none;
}

#live_feed li{
	padding:5px;
	
}
#sm_live_feed  li{
	padding:5px;
	
}
.user{
	margin-bottom:8px;
	color:#a6a6a6;
	letter-spacing:2px;
	font-size:180%;
	font-weight:500;
	
}

.tweet{
	margin-left:60px;	
	
}

/*accordion--------------------------------*/
.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.accordion li {
	list-style: none;
}

/* Layout & Style */

.accordion li > a {
	display: block;
	position: relative;
	min-width: 110px;
	padding: 18px 0 0 25px;
	height: 30px;
	color: #a6a6a6;	
	font: 90% "Avenir",sans-serif;
	letter-spacing:1px;
	text-decoration: none;
	border-bottom:1px solid #a6a6a6;

}

.accordion > li:hover > a{
	color:#0593d0;
}

.accordion > li:target > a,
.accordion > li > a.active {
	color:#0593d0;	

}

.accordion li > a span {
	color:#2b2a27;
	display: block;
	position: absolute;
	top: 13px;
	right: 0;
	padding: 5px 10px;
	margin-right: 10px;	
	font: 90% "Avenir",sans-serif;
	background: #feebae;	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius:50px;

}


/* Sub Menu */

.sub-menu li a {
	color: #a6a6a6;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
	background: #eeeeed;
	border-bottom: 2px solid #c9c9c9;

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.sub-menu li:hover a { background: #fff; }

.sub-menu li:last-child a { border: none; }

.sub-menu li > a span {


}

.sub-menu em {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 14px;
	color: #a6a6a6;
	font: normal 10px/32px "Avenir", sans-serif;
}

/* Functionality */

.accordion li > .sub-menu {
	display: none;
}

.accordion li:target > .sub-menu {
	display: block;
}

/*modal--------------------------------*/
.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
 
    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
  }
 
  .modal h2 {
    background:url(/media/img/global/info.png) 0 50% no-repeat;
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
  }

/*footer--------------------------------*/
.my_span10{

}

.my_footer_span8 h3{
	color:#fff;
	margin-left:40px;
	font-weight:900;
	padding-bottom:10px;
	margin-top:40px;
	border-bottom:1px dashed #fff;
}
.social_icons{
	margin-left:600px;
	width:600px;
	height:100px;
	margin-top: -300px;
	
}

.facebook {
	margin-left:30px;
	float:left;
	width:50px;
	height:50px;
	background-image:url('../images/facebook.png');
}

.twitter{
	margin-top:-10px;
	margin-left:6px;
	float:left;
	width:80px;
	height:80px;
	background-image:url('../images/twitter.png');

}

.linkedin{
	margin-top:2px;
	margin-left:23px;
	float:left;
	width:50px;
	height:50px;
	background-image:url('../images/linked_in.png');

}
.github{
	margin-top:-14px;
	margin-left:19px;
	float:left;
	width:80px;
	height:80px;
	background-image:url('../images/github.png');

}

.footer_tags{
	padding-right:20px;
	color:#fff;
	font-weight:200;
}
#footer_tags{
	margin-left:39px;
}

.footer_tags a:hover {
	color:#feebae;
	
}

#footer{
	width:100%;
	height:500px;
	background-color:#0593d0;

}
.footer_row{
	background-image:url('../images/twitter_bird.png');
	background-repeat:no-repeat;
	background-position:50px 50px;
	height:100%;
	
}
.footer_row h2{
	color:#fff;
  	margin-left: 101px;
    margin-top: 201px;
	max-width:450px;
}

.footer_row h5{
	margin-left: 101px;
	margin-top: 50px;
	font-weight:200;
}



