body {
	margin:0 auto;
	padding:0px;
	font-family:"Avenir", sans-serif;
	font-size:100%;
	background-color:#eeeeed;
}

a {
	color: #f5f5f5;
	text-decoration:none;
}

/*top bar--------------------------------*/ 

#top_bar{
	background-image:url('../images/logo.png');
	background-repeat:no-repeat;
	background-position:10px 10px;
	margin-top:-1px;
	padding:0px;
	min-width:100%;
	height: 60px;
	background-color:#2b2a27;
	border-bottom:2px solid #0593d0;

}

#form, .user_bar{
	padding-top:17px;
	float:right;
	padding-right:50px;
}
#form p{
	margin:0;
	padding-top:5px;
	padding-left:157px;
	font-size:55%;
	color:#fff;

}
.user_bar p{
	font-size:75%;
	padding-right:50px;
}
.logIn{
	outline:none;
	width:130px;
	height:20px;
	border-radius:1em 1em 1em 1em;
	margin-right:10px;	
	border:none;
	padding-left:5px;
	
}

.logIn_topbar_btn{
	cursor:pointer;
	width:50px;
	height:20px;
	border-radius:1em 1em 1em 1em;
	background-color:#0593d0;
	border:none;
}

/*nav --------------------------------*/ 

#nav {
	margin-top:170px;
	width:200px;
	height:100%;
	background-color:#2b2a27;
	float:left;
	
}

/*content--------------------------------*/

.tagLine{
	font-size:75%;
	font-weight:100;
	padding:0px 0px 0px 15px;
	margin-top:8px;
	color:#57554f;
}


#main{
	background-image:url('../images/twitter_bird.png');
	background-repeat:no-repeat;
	background-position:top center;
	margin: 0 auto;
	height:100%;
	width:1200px;

}

#fortune_img{
	width:204px;
	height:106px;
	float:right;
	background-image:url('../images/fortune.png');
	background-repeat:no-repeat;
	padding-right:280px;
	margin-top:20px;
	
}
#content{
	margin:0 auto;
	text-align:center;
	padding-top:160px;
	width:900px;
	min-height:375px;
	
}
#content h1{
	display:inline;
	margin-bottom:-50px;
	
}

#action{
	margin:0 auto;
	height:20px;
	width:400px;

	
}

/*create fortune*/

#fortune_enter{
	border-radius:5px;
	border:1px dashed #2b2a27;
}
.create_fortune_field{
	
	margin-top:30px;
	margin-bottom:100px;
	
}
.create_fortune_field h1{
	letter-spacing:2px;
}
textarea{

	margin-bottom:20px;
}

.create_fortune_btn{

	border-radius:15px;
	border:none;
	background-color:#2b2a27;
	font-size:100%;
	width:150px;
	height:25px;
	
}
.create_fortune_btn a{
		color:#feecb3;
}

/*specialty styles--------------------------------*/

.blue{
	color:#0593d0;
}

.emphasis{
	font-style:italic;
}


/*modal--------------------------------*/


.modalInput{
	border-radius:1em 1em 1em 1em;
	font-size:140%;
	letter-spacing:1px;
	background-color:#2b2a27;
	color:white;
	width:150px;
	height:52px;
	border:none;
	cursor:pointer;
}

/*modal buttons--------------------------------*/

#sign_up #log_in, a:hover {
	color:#0593d0;
}
#log_in{
	float:right;
}

#sign_up{
	float:left;
}

/*live feed--------------------------------*/

#feed_banner{
	width:340px;
	height:400px;
	background-image:url('../images/fortune_feed.png');
	background-repeat:no-repeat;
	background-position:0 -10px;
	float:left;
	

}

#feed_banner p{
	color:white;
	font-size:80%;
	font-style:italic;
	margin-left:20px;
	margin-top:10px;
	
	
}
#feed_banner h1{
	font-weight:100;
	letter-spacing:3px;
	margin-left:17px;
	margin-top:25px;
	
	
}


#live_feed{	
	max-width:500px;
	min-height:500px;
	padding-top:0px;
	margin-left:400px;
	padding-bottom:200px;
	font-family:"Garamond", serif;
}

#live_feed ul{
	list-style:none;
}

#live_feed li{
	padding:5px;
	
}

.user{
	margin-bottom:8px;
	color:#a6a6a6;
	letter-spacing:2px;
	font-size:180%;
	font-weight:500;
	
}

.tweet{
	margin-left:60px;
	
	
}



/*accordion--------------------------------*/
.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.accordion li {
	list-style: none;
}

/* Layout & Style */

.accordion li > a {
	display: block;
	position: relative;
	min-width: 110px;
	padding: 18px 0 0 25px;
	height: 30px;
	color: #a6a6a6;	
	font: 90% "Avenir",sans-serif;
	letter-spacing:1px;
	text-decoration: none;
	border-bottom:1px solid #a6a6a6;

}

.accordion > li:hover > a{
	color:#fff;
}

.accordion > li:target > a,
.accordion > li > a.active {
	color:#0593d0;
	
	

}

.accordion li > a span {
	display: block;
	position: absolute;
	top: 7px;
	right: 0;
	padding: 0 10px;
	margin-right: 10px;	
	font:  12px/18px ,"Avenir", sans-serif;
	background: #404247;	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

}

.accordion > li:hover > a span,
.accordion > li:target > a span,
.accordion > li > a.active span {
	color: #fdfdfd;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);
	background: #3e5706;
}





/* Sub Menu */

.sub-menu li a {
	color: #a6a6a6;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
	background: #eeeeed;
	border-bottom: 2px solid #c9c9c9;

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.sub-menu li:hover a { background: #fff; }

.sub-menu li:last-child a { border: none; }

.sub-menu li > a span {


}

.sub-menu em {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 14px;
	color: #a6a6a6;
	font: normal 10px/32px "Avenir", sans-serif;
}

/* Functionality */

.accordion li > .sub-menu {
	display: none;
}

.accordion li:target > .sub-menu {
	display: block;
}

/*modal--------------------------------*/
.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
 
    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
  }
 
  .modal h2 {
    background:url(/media/img/global/info.png) 0 50% no-repeat;
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
  }

/*footer--------------------------------*/

#footer{
	width:100%;
	height:300px;
	background-color:#0593d0;

}





