<link href='/stylesheets/style.css' rel="stylesheet">
			<div id="container">
			
						<div id="main_dashboard">

							<div id="fortune_img">
							</div>
					
					<div id="create_fortune_content">
					

						<div class="create_fortune_field">
							<h1 class="blue">create a fortune!</h1>
							
							<!--hidden span-->
							<span id="created_fortune_pending" class="blue emphasis thin">>> your fortune has been added to the fortune bank!</span>
							<!--end hidden span-->
							
							<br />
							<br />
							<h3>enter fortune here</h3>
							<textarea id="fortune_enter"rows="10" cols="30">

							</textarea>

							<div id="action">

								<button class="create_fortune_btn" id="fortuneCreate_btn" rel=""><a href=''>create fortune</a></button>

							</div>  <!--end action-->
						
						</div>  <!--end create_fortune_field-->

					</div>	<!--end fortune_content-->

				</div>  <!--end main_dashboard-->


			</div>  <!--end container-->
		