<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tweeter Fortune Teller</title>
	<meta name="" content="">
	<meta name="" content="">



	<link href='../public/stylesheets/style.css' rel="stylesheet">
	<!--link href="../public/stylesheets/local_bootstrap.css" rel="stylesheet"!-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src='../public/javascripts/script.js'></script>	
	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>


</head>

<body>



	<div id="top_bar">
		<div id="user" class="user_bar">
			<p><span><a href=""> settings</a><span class="blue"> |</span></span>
			<span><a href=""> log out</a></span></p>
		</div>
	</div>
	<p class="tagLine">brightening our follower's days- one fortune at a time</p>
	<div id="nav">  
		<ul class="accordion">
			<ul class="accordion">
				<li id="one" class="files">
					<a href="#one">home</a>
				</li>
				<li id="two" class="mail">
					<a href="#two">about</a>
					<ul class="sub-menu">
						<li><a href="#">guidelines</a></li>
						<li><a href="#">our story</a></li>
					</ul>
				</li>
				<li id="three" class="cloud">
					<a href="#four">contact</a>
				</li>
				<li id="four" class="sign">
					<a href="#three">@tfortuneteller</a>
				</li>
			</ul>

		</div>
		<div id="main">
		
			<div id="content">

				<div class="create_fortune_field"><h1 class="blue">create a fortune!</h1><br /><br />
				<h3>enter fortune here</h3>
				<textarea id="fortune_enter"rows="10" cols="30">
				
				</textarea>
				
					<div id="action">

						<button class="create_fortune_btn" id="fortuneCreate_btn" rel=""><a href=''>create fortune</a></button>
				
					</div>
				</div>
					

				</div>	

			</div>
			<div id="feed_banner">
				<p>fortunes going out LIVE!</p>
				<h1>@ fortune feed </h1>
			</div>
			<div id="live_feed">

				<ul>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
				</ul>
			</div>
			<div id="footer">
			</div>








		</body>

		</html>