
			<div id="container">

				<div id="main_dashboard">
					<!-- this h1 and img div only on user home page!-->

					<div id="dashboard_fortune_img">
					</div>
					<h1 class="blue">Twitter Fortune Madness!</h1>

					<div id="dashboard_content">
						<div class="row my_row">
							<div class="span5" id="stats">
								<h2><span class="white">></span><span class="bold emphasis"> my fortune stats</span></h2>
								<div class="web_icon">
								</div>
								<p><h3>#fortunes created: <span class="blue">3</span></h3>
									<h3>#fortunes tweeted: <span class="blue">1</span></h3>
									<h3>#questions answered: <span class="blue">0</span></h3>
									<h3>fortune teller status: <span class="blue">level 1</span></h3>
								</p>




							</div>
							<div class="span4" id="updates">
								<h3><span class="white"></span> important updates!</h3>

								<div class="branding">
								</div>

								<p>Welcome to our prototype!</p>
								<p>We still need followers on Twitter to receive our awesome fortunes! Tell all your friends to follow us: <br /><h2><span class="blue">@tfortuneteller </span></h2></p>

							</div>


							<div class="span4" id="members">
								<h3><span class="white"></span> member notes </h3>

								<div class="social">
								</div>

								<p>Thanks for all your help spreading the word!  Keep up the good work! <h4 class="signature blue">-admin</h4></p>
								<p></p>

							</div>
							<div class="span4" id="achievements">
								<h3><span class="white"></span> recent achievements</h3>

								<div class="branding">
								</div>

								<p>congrats<span class="emphasis blue"> fountaineleven</span> for moving up to Level 2 !</p>
								<p></p>

							</div>


							<div class="span4" id="follower_stats">
								<h3><span class="white"></span> follower stats</h3>

								<div class="social">
								</div>

								<p><h5>#followers: <span class="blue"id="num_followers">10</span></h5>

								</p>

							</div>

						</div>
				


					</div>	

				</div>
			</div>
			<div id="sm_feed_banner">
				<p>fortunes going out LIVE!</p>
				<h1>@ fortune feed </h1>
			</div>
			<div id="sm_live_feed">

				<ul>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>


				</ul>
			</div>
			<div class="row">

			</div>

		