<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tweeter Fortune Teller</title>
	<meta name="" content="">
	<meta name="" content="">



	<link href='../public/stylesheets/style.css' rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src='../public/javascripts/script.js'></script>	
	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>


</head>

<body>


	<div id="top_bar">
		<form id="form">

			<input id="userName" class="logIn" method="" action="" type="text" placeholder="username" > 

			<input id="password" class="logIn" method="" action="" type="text" placeholder="password">

			<input type="button"class="logIn_topbar_btn" value="log in">
			
			<p><a href=""> forgot your password?</a></p>
		</form>
	</div><!--end top_bar-->
	
	<p class="tagLine">brightening our follower's days- one fortune at a time</p>
	
	<div id="nav">  
		<ul class="accordion">
			<ul class="accordion">
				<li id="one" class="files">
					<a href="#one">home</a>
				</li>
				<li id="two" class="mail">
					<a href="#two">about</a>
					<ul class="sub-menu">
						<li><a href="#">guidelines</a></li>
						<li><a href="#">our story</a></li>
					</ul>
				</li>
				<li id="three" class="cloud">
					<a href="#four">contact</a>
				</li>
				<li id="four" class="sign">
					<a href="#three">@tfortuneteller</a>
				</li>
			</ul>

		</div><!--end nav-->
		
		<div id="container">

			<div id="main_dashboard">

				<div id="fortune_img">
				</div>

				<h1 class="blue">Wanna create awesome fortunes with us?</h1>
				
				<div id="dashboard_content">
					<div class="row my_row">
						<div class="span4">
				
							<p><h3 class="emphasis ">- create fortunes and watch them go out!<span class="blue"></span></h3>
								<h3 class="emphasis">- earn points when we tweet your fortunes!<span class="blue"></span></h3>
								<h3 class="emphasis">- answer questions tweeted in!<span class="blue"></span></h3>
								<h3><span class="blue emphasis">- <a class="blue" href="">find out how to become an awesome Tweeter Fortune Teller!</a></span></h3>
							</p>



						</div>
						<div class="span10" id="call_to_action">

							<h3 class="thin">Do you have what it takes to become a Tweeter Fortune Teller?</h3>
													<h3>Yes! <span class="emphasis"> You most certainly do!</span></h3>
													<h2><span class="blue">Become a member</span> and help make Twitter</h2>
													<h2>an <span class="emphasis">even more </span>FUN and MAGICAL place.</h2>
													<p><h5>Sign Up or Log In with your <span class="blue">Twitter</span> account!</h5</p>						

						</div>
				
						<div id="action">

							
							<button class="modalSignUp" id="sign_up" rel="#prompt_one" title="sign up!" ><a href=''>Sign Up</a></button> 
							<button class="modalSignUp" id="log_in" rel="#prompt_one" title="log in" ><a href=''><span class="small">or</span> Log In</a></button>
							<!--modal!-->
						
						<!-- user input dialog -->
						<div class="modal" id="prompt_one">

							<form id="myform">
								<fieldset>
									<h3>Sign Up!</h3>

									<label>email *</label>
									<input type="email" name="email" required="required" />
								</p>
								<p>
									<label>username*</label>
									<input type="text" name="name" pattern="[a-zA-Z ]{5,}" maxlength="30"required="required" />
								</p>
								<p>
									<label>password *</label>
									<input type="text" name="name" pattern="[a-zA-Z ]{5,}" maxlength="10" />
								</p>
								<p>
									<label>age</label>
									<input type="number" name="age" size="4" min="5" max="50" />
								</p>
								<p id="terms">
									<label>I accept the terms</label>
									<input type="checkbox" required="required" />
								</p>
								<button type="submit">Submit form</button>
								<button type="reset">Reset</button>
								<button type="button" class="close"> Cancel </button>
							</fieldset>
						</form>


					</div>  <!--modal!-->
					

				</div>  <!--end action-->
			
			</div>  <!--end row-->	
						

		</div>	<!--end dashboard_content-->

	</div>  <!--end main_dashboard-->

</div>  <!--end container-->


<div id="feed">
<div id="feed_banner">
	<p>fortunes going out LIVE!</p>
	<h1>@ fortune feed </h1>
</div>
<div id="live_feed">
            <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
               new TWTR.Widget({
                  version: 2,
                  type: 'profile',
                  rpp: 6,
                  interval: 30000,
                  width: 'auto',
                  height: 300,
                  theme: {
                     shell: {
                     background: '#333333',
                     color: '#ffffff'
                  },
                  tweets: {
                     background: '#eeeeed',
                     color: '#000000',
                     links: '#a6a6a6'
                  }
               },
               features: {
                  scrollbar: false,
                  loop: false,
                  live: true,
                  behavior: 'all'
               }
            }).render().setUser('tfortuneteller').start();
         </script>
</div>  <!--end feed-->
</div>  <!--end live feed-->
<div id="footer">
	<div class="row footer_row">

		<span class="span11">
			<p><h2>Our mission is to make Twitter a better place, one fortune at a time.</h2></p>
			<p><h5>&copy;2012 Tweeter Fortune Teller</h5></p>
			<div class="span8 my_footer_span8">


				<div class="social_icons">
					<p id="footer_tags"><span class="footer_tags"><a href="">about </a> </span><span class="footer_tags"><a href=""> terms & conditions </a></span><span class="footer_tags"><a href=""> contact us </a></span></p>
					<h3>follow us on the web</h3>
					<a alt="facebook.com"title="facebook" target="_blank" href="http://www.facebook.com"class="facebook"></a>
					<a alt="twitter.com"title="twitter" target="_blank" href="http://www.twitter.com"class="twitter"></a>
					<a alt="linkedin.com"title="linked in" target="_blank" href="http://www.linkedin.com"class="linkedin"></a>
					<a alt="github.com"title="git hub" target="_blank" href="http://www.github.com"class="github"></a>
				</div>


			</div>  <!--my_footer_span8-->

		</div>  <!--end span11->

	</div>  <!--end footer_row-->

</div>  <!--end footer-->




</body>

</html>
