                     <div id="content">				
                         <h3>Do you have what it takes to become a Tweeter Fortune Teller?<br />
					<h1>Yes! </h1><span class="emphasis"> You most certainly do!</span></h3><br /><br />
					<h1><span class="blue">Become a member</span> and help make Twitter</h1><br /><br />
					<h1>an <span class="emphasis">even more </span>FUN and MAGICAL place.</h1><br /><br /><br /><br />
					<div id="action">

						<button class="modalInput" id="log_in" rel="#prompt"><a href=''>Log In</a></button>
						<button class="modalInput" id="sign_up"rel="#prompt"><a href=''>Sign Up!</a></button>

						<!--modal!-->



						<!-- user input dialog -->
						<div class="modal" id="prompt">

							<form id="myform">
								<fieldset>
									<h3>Sample registration form</h3>
									<p> Enter bad values and then press the submit button. </p>

									<p>
										<label>email *</label>
										<input type="email" name="email" required="required" />
									</p>
									<p>
										<label>website *</label>
										<input type="url" name="url" required="required" />
									</p>
									<p>
										<label>name *</label>
										<input type="text" name="name" pattern="[a-zA-Z ]{5,}" maxlength="30" />
									</p>
									<p>
										<label>age</label>
										<input type="number" name="age" size="4" min="5" max="50" />
									</p>
									<p id="terms">
										<label>I accept the terms</label>
										<input type="checkbox" required="required" />
									</p>
									<button type="submit">Submit form</button>
									<button type="reset">Reset</button>
									<button type="button" class="close"> Cancel </button>
								</fieldset>
							</form>


						</div>
						<!--modal!-->

					</div>
					<span>or</span>

				</div>	

			</div>
			<div id="feed_banner">
				<p>fortunes going out LIVE!</p>
				<h1>@ fortune feed </h1>
			</div>
			<div id="live_feed">

				<ul>
               <%- tweets ->
				</ul>
              </div>
