<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tweeter Fortune Teller</title>
	<meta name="" content="">
	<meta name="" content="">



	<link href='../public/stylesheets/style.css' rel="stylesheet">
	<!--link href="../public/stylesheets/local_bootstrap.css" rel="stylesheet"!-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src='../public/javascripts/script.js'></script>	
	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>


</head>

<body>



	<div id="top_bar">
		<form id="form">

			<input id="username" class="logIn" method="" action="" type="text" value="username: ">
			<input id="password" class="logIn" method="" action="" type="text" value="password: ">

			<input type="button"class="logIn_topbar_btn" value="log in">
			<p><a href=""> forgot your password?</a></p>
		</form>
	</div>

	<div id="nav">  
		<ul class="accordion">
			<ul class="accordion">
				<li id="one" class="files">
					<a href="#one">home</a>
				</li>
				<li id="two" class="mail">
					<a href="#two">about</a>
					<ul class="sub-menu">
						<li><a href="#">guidelines</a></li>
						<li><a href="#">our story</a></li>
					</ul>
				</li>
				<li id="three" class="cloud">
					<a href="#four">contact</a>
				</li>
				<li id="four" class="sign">
					<a href="#three">@tfortuneteller</a>
				</li>
			</ul>

		</div>
		<div id="main">
			<div id="fortune_img">
			</div>
			<div id="content">




				<h3>Do you have what it takes to become a Tweeter Fortune Teller?<br />
					<h1>Yes! </h1><span class="emphasis"> You most certainly do!</span></h3><br /><br />
					<h1><span class="blue">Become a member</span> and help make Twitter</h1><br /><br />
					<h1>an <span class="emphasis">even more </span>FUN and MAGICAL place.</h1><br /><br /><br /><br />
					<div id="action">

						<button class="modalInput" id="log_in" rel="#prompt"><a href=''>Log In</a></button>
						<button class="modalInput" id="sign_up"rel="#prompt"><a href=''>Sign Up!</a></button>

						<!--modal!-->



						<!-- user input dialog -->
						<div class="modal" id="prompt">

							<form id="myform">
								<fieldset>
									<h3>Sample registration form</h3>
									<p> Enter bad values and then press the submit button. </p>

									<p>
										<label>email *</label>
										<input type="email" name="email" required="required" />
									</p>
									<p>
										<label>website *</label>
										<input type="url" name="url" required="required" />
									</p>
									<p>
										<label>name *</label>
										<input type="text" name="name" pattern="[a-zA-Z ]{5,}" maxlength="30" />
									</p>
									<p>
										<label>age</label>
										<input type="number" name="age" size="4" min="5" max="50" />
									</p>
									<p id="terms">
										<label>I accept the terms</label>
										<input type="checkbox" required="required" />
									</p>
									<button type="submit">Submit form</button>
									<button type="reset">Reset</button>
									<button type="button" class="close"> Cancel </button>
								</fieldset>
							</form>


						</div>
						<!--modal!-->

					</div>
					<span>or</span>

				</div>	

			</div>
			<div id="feed_banner">
				<p>fortunes going out LIVE!</p>
				<h1>@ fortune feed </h1>
			</div>
			<div id="live_feed">

				<ul>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
					<li id="fortunes"><h1 class="user">@semmypurewal</h1><span class="tweet">you will soon witness a miracle</span></li>
					<li id="fortunes"><h1 class="user">@bekahdavid</h1><span class="tweet">a shooting star tonight will bring you good luck tomorrow!</span></li>
				</ul>
			</div>
			<div id="footer">
			</div>








		</body>

		</html>