<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%- title %></title>
	<meta name="" content="">
	<meta name="" content="">

	<link href='/stylesheets/style.css' rel="stylesheet">
	<!--link href="../public/stylesheets/local_bootstrap.css" rel="stylesheet"!-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src='/javascripts/script.js'></script>	
	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
</head>

<body>
	<div id="top_bar">
		<form id="form"class="user_bar">

			<input id="username" class="logIn" method="" action="" type="text" value="username: ">
			<input id="password" class="logIn" method="" action="" type="text" value="password: ">

			<input type="button"class="logIn_topbar_btn" value="log in">
			<p><a href=""> forgot your password?</a></p>
		</form>
	</div>
	<div id="nav">  
		<ul class="accordion">
			<ul class="accordion">
				<li id="one" class="files">
					<a href="#one">home</a>
				</li>
				<li id="two" class="mail">
					<a href="#two">about</a>
					<ul class="sub-menu">
						<li><a href="#">guidelines</a></li>
						<li><a href="#">our story</a></li>
					</ul>
				</li>
				<li id="three" class="cloud">
					<a href="#four">contact</a>
				</li>
				<li id="four" class="sign">
					<a href="#three">@tfortuneteller</a>
				</li>
			</ul>
		</div>
		<div id="main">
			<div id="fortune_img">
			</div>
                 <%- body %>
			<div id="footer">
			</div>








		</body>

		</html>
