<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%- title %></title>
	<meta name="" content="">
	<meta name="" content="">



	<link href='../public/stylesheets/style.css' rel="stylesheet">
	<!-- <link href="../public/stylesheets/local_bootstrap.css" rel="stylesheet"> -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src='../public/javascripts/script.js'></script>	
	<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>


</head>

<body>


	<div id="top_bar">

		<span class="logo"><a href=""></a></span>

		<div id="user" class="user_bar">
			<span class="userlevel_display">Level <span class="blue">4 </span>fortune teller </span>
			<p><span>  Hello,<span id="username">fountaineleven</span></span><span><a href=""> settings</a><span class="blue"> |</span></span>
				<span><a href=""> log out</a></span></p>
			</div>
		</div>  <!--end top_bar-->
		
		<p class="tagLine">brightening our follower's days- one fortune at a time</p>

		<div id="nav">  
			<ul class="accordion">
				<ul class="accordion">
					<li id="one" class="">
						<a href="#one">my dashboard</a>
					</li>
					<li id="two" class="">
						<a href="#two">create a fortune</a>

					</li>
					<li id="three" class="">
						<a href="#three">answer a question<span id="questions_waiting">2</span></a>

					</li>
					<li id="four" class="">
						<a href="#four">members</a>
						<ul class="sub-menu">
							<li><a href="#">rules</a></li>
							<li><a href="#">helpful suggestions</a></li>
						</ul>
					</li>
					<li id="five" class="">
						<a href="#three">@tfortuneteller</a>
					</li>
				</ul>

			</div> <!--end nav-->
			
			<%- body %>
			
			
			<div id="footer">
				<div class="row footer_row">

					<span class="span11">
						<p><h2>Our mission is to make Twitter a better place, one fortune at a time.</h2></p>
						<p><h5>&copy;2012 Tweeter Fortune Teller</h5></p>
						<div class="span8 my_footer_span8">

							
							<div class="social_icons">
							<p id="footer_tags"><span class="footer_tags"><a href="">about </a> </span><span class="footer_tags"><a href=""> terms & conditions </a></span><span class="footer_tags"><a href=""> contact us </a></span></p>
								<h3>follow us on the web</h3>
								<a alt="facebook.com"title="facebook" target="_blank" href="http://www.facebook.com"class="facebook"></a>
								<a alt="twitter.com"title="twitter" target="_blank" href="http://www.twitter.com"class="twitter"></a>
								<a alt="linkedin.com"title="linked in" target="_blank" href="http://www.linkedin.com"class="linkedin"></a>
								<a alt="github.com"title="git hub" target="_blank" href="http://www.github.com"class="github"></a>
							</div>
							

							</div>  <!--my_footer_span8-->

						</div>  <!--end span11->

					</div>  <!--end footer_row-->

				</div>  <!--end footer-->







		</body>

		</html>
