<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Twitter Link Monster</title>
	<meta name="" content="">
	<meta name="" content="">



	<link href='../public/stylesheets/style.css' rel="stylesheet">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src='/javascripts/script.js'></script>


</head>

<body>

	<div id="top_bar">
			<form id="form">
				<p></p>
				<input id="searchterm"/>
				<input type="submit" id="btn" value="Go!"/>
			</form>
	</div>
	<div id="main">
		<div id="nav">  
			<ul>
				<a href=''><li>about</li></a>
				<a href=''><li>contact</li></a>
			</ul>
		</div>
		<h1></h1>
		<h2></h2>



		

	</div>
	<div id="live_feed">
		<p>@semmypurewall 'you will soon witness a miracle'</p>
		<p>@semmypurewall 'you will soon witness a miracle'</p>
		<p>@semmypurewall 'you will soon witness a miracle'</p>
		<p>@semmypurewall 'you will soon witness a miracle'</p>
		<p>@semmypurewall 'you will soon witness a miracle'</p>
		<p>@semmypurewall 'you will soon witness a miracle'</p>
	</div>
	<div id="footer">
	</div>








</body>

</html>